@page
@model WebApplication1.Pages.Work.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Part/Layout1.cshtml";
}

<div id="app">
    <div class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-inline">
                <input class="layui-input" disabled value="@Model.WorkViewModel.WorkDate.ToString("yyyy-MM-dd")">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容描述</label>
            <div class="layui-input-block">
                <textarea rows="15" cols="80" disabled>@Html.Raw(Model.WorkViewModel.Content)</textarea>
            </div>
        </div>
    </div>
</div>

