@page
@model WebApplication1.Pages.Part.BuMenModel
@{
    ViewData["Title"] = "BuMen";
    Layout = "~/Pages/Part/Layout1.cshtml";
}



   
            <div class="layui-btn-group demoTable">
                <button class="layui-btn" id="bumenadd">新增部门</button>
            </div>
            <table class="layui-table" id="test3" lay-filter="test3"></table>
            <div class="layui-btn-group demoTable">
                <button class="layui-btn" data-type="getCheckData">删除选中行</button>
            </div>

        
     <script src="~/js/bumen.js"></script> 
 




